.servicios{
    width: 360px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}
.imagenServicio{
    width: 328px;
    margin-top: 16px;
}
.tituloServicio{
    margin: 48px 0px;
    width: 328px;
    text-align: center;
    color: #2A2A72;
    font-weight: 600;
    font-size: 18px;
}
.descripcionServicio{
    margin: 0;
    text-align: center;
    width: 328px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    color: #1D1D1B;
}
.duracionServicio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 4px 0px;
}
.duracion{
    margin:0px;
    padding: 8px;
    font-size: 18px;
    color: #1D1D1B;
}
.duracion span{
    font-weight:600 ;
}
.textoServicios{
    text-align: center;
    margin: 9px 0px 0px 0px;
    font-size: 18px;
    color: #1D1D1B;
}
.reserva{
    margin: 32px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #2A2A72;
    border-radius: 5px;
    width: 328px;
    padding: 12px;
    text-decoration: none;
}
.reserva:hover{
    background-color: #1b1b69;
}
.reserva h4{
    margin: 0 20px 0 0;
    color: #FFFF;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
@media only screen and (min-width:992px){
    .servicios{
        width: 814px;
    }
    .imagenServicio{
        margin-top: 48px;
    }
    .tituloServicio{
        margin: 62px 0px;
        width: 814px;
        font-size: 48px;
    }
    .descripcionServicio{
        width: 814px;
        font-size: 22px;
    }
    .duracion{
        font-size: 22px;
    }
    .duracionServicio{
        margin: 36px 0px;
    }
    .textoServicios{
        font-size: 24px;
        margin: 20px 0px 0px 0px;  
    }
    .reserva{
        margin: 64px 0;
    }
    .imagenServicio{
        width: 814px;
        height: 397px;
    }
}
@media only screen and (max-width:360px){
    .servicios{
        width: fit-content;
    }
    .imagenServicio{
        width: 280px;
    }
    .tituloServicio{
        margin: 32px 0px;
        width: 280px;
    }
    .descripcionServicio{
        width: 280px;
    }
    .reserva{
        margin: 32px 0px;
        width: 280px;
        padding: 12px 0px;
    }
}

